<section class="section s-advantages">
    <div class="layout">
        <h2 class="section__title">ПРЕИМУЩЕСТВА ПОКУПКИ КВАРТИРЫ В ЖК "ЕВРОПЕЙСКИЙ"</h2>

        <div class="s-advantages__text">
            <strong>ЖК ЕВРОПЕЙСКИЙ</strong> - это несколько десятков домов, построенных нашей компанией, образовали новый микрорайон практически в центре поселка Яблоновский.
        </div>

        <div class="s-advantages__smtxt"><strong>Хороший спальный район!</strong> Это несколько десятков домов, построенных нашей компанией, образовали новый микрорайон практически в центре поселка Яблоновский. Хороший спальный район!</div>

        <hr class="separator separator--push">

        <div class="s-advantages__group">
            <div class="s-advantages__item">
                <div class="s-advantages__item__image"><img src="/images/advantages/wall.png" alt=""></div>
                <div class="s-advantages__item__title">
                    <div class="s-advantages__item__title__ico">МОНОЛИТНО-КИРПИЧНЫЕ ДОМА</div>
                </div>
            </div>

            <div class="s-advantages__item">
                <div class="s-advantages__item__image"><img src="/images/advantages/checkform.png" alt=""></div>
                <div class="s-advantages__item__title">
                    <div class="s-advantages__item__title__ico">ВОЗМОЖНОСТЬ ИСПОЛЬЗОВАНИЯ МАТЕРИНСКОГО КАПИТАЛА И ДРУГИХ ГОСУДАРСТВЕННЫХ ПРОГРАММ</div>
                </div>
            </div>

            <div class="s-advantages__item">
                <div class="s-advantages__item__image"><img src="/images/advantages/parking.png" alt=""></div>
                <div class="s-advantages__item__title">
                    <div class="s-advantages__item__title__ico">ПАРКОВОЧНЫЕ МЕСТА</div>
                </div>
            </div>
        </div>

        <hr class="separator separator--push">

        <div class="s-advantages__group">
            <div class="s-advantages__item">
                <div class="s-advantages__item__image"><img src="/images/advantages/location.png" alt=""></div>
                <div class="s-advantages__item__title">
                    <div class="s-advantages__item__title__ico">БЛИЗОСТЬ К ЦЕНТРУ КРАСНОДАРА</div>
                </div>
            </div>

            <div class="s-advantages__item">
                <div class="s-advantages__item__image"><img src="/images/advantages/funds.png" alt=""></div>
                <div class="s-advantages__item__title">
                    <div class="s-advantages__item__title__ico">ЮРИДИЧЕСКАЯ СИСТЕМА ОПЛАТЫ РАССРОЧКА 0%</div>
                </div>
            </div>

            <div class="s-advantages__item">
                <div class="s-advantages__item__image"><img src="/images/advantages/file.png" alt=""></div>
                <div class="s-advantages__item__title">
                    <div class="s-advantages__item__title__ico">ДОГОВОР ДОЛЕВОГО УЧАСТИЯ В СООТВЕТСТВИИ С 214 ФЗ</div>
                </div>
            </div>
        </div>

        <hr class="separator separator--push">

        <div class="s-advantages__group">
            <div class="s-advantages__item">
                <div class="s-advantages__item__image"><img src="/images/advantages/pipe.png" alt=""></div>
                <div class="s-advantages__item__title">
                    <div class="s-advantages__item__title__ico">ЦЕНТРАЛЬНЫЕ КОММУНИКАЦИИ</div>
                </div>
            </div>

            <div class="s-advantages__item">
                <div class="s-advantages__item__image"><img src="/images/advantages/calendar.png" alt=""></div>
                <div class="s-advantages__item__title">
                    <div class="s-advantages__item__title__ico">ИПОТЕКА РАССРОЧКА 0%</div>
                </div>
            </div>
        </div>
    </div>
</section>