<section class="section advantages">
    <div class="advantages__head">
        <h2 class="section__title">ПРЕИМУЩЕСТВА ПОКУПКИ КВАРТИРЫ В ЖК "ЕВРОПЕЙСКИЙ"</h2>
    </div>
    <div class="advantages__text">
        <span class="advantages__text__bold">ЖК ЕВРОПЕЙСКИЙ</span><span class="advantages__text__normal"> - это несколько десятков домов, построенных нашей компанией,
            образовали новый микрорайон практически в центре поселка Яблоновский.
        </span> 
    </div>
    <span class="advantages__smtxt"><strong>Хороший спальный район!</strong> Это несколько десятков домов, построенных нашей компанией,
            образовали новый микрорайон практически в центре поселка Яблоновский. Хороший спальный район!</span>
    <div class="advantages__item">
        <div class="advantages__item__image"><img src="/images/advantages/wall.png"></div>
        <div class="advantages__item__text"><img src="/images/advantages/check.png"><span>МОНОЛИТНО-КИРПИЧНЫЕ ДОМА</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__item__image"><img src="/images/advantages/checkform.png"></div>
        <div class="advantages__item__text"><img src="/images/advantages/check.png"><span>ВОЗМОЖНОСТЬ ИСПОЛЬЗОВАНИЯ МАТЕРИНСКОГО КАПИТАЛА И ДРУГИХ ГОСУДАРСТВЕННЫХ ПРОГРАММ</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__item__image"><img src="/images/advantages/parking.png"></div>
        <div class="advantages__item__text"><img src="/images/advantages/check.png"><span>ПАРКОВОЧНЫЕ МЕСТА</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__item__image"><img src="/images/advantages/location.png"></div>
        <div class="advantages__item__text"><img src="/images/advantages/check.png"><span>БЛИЗОСТЬ К ЦЕНТРУ КРАСНОДАРА</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__item__image"><img src="/images/advantages/funds.png"></div>
        <div class="advantages__item__text"><img src="/images/advantages/check.png"><span>ЮРИДИЧЕСКАЯ СИСТЕМА ОПЛАТЫ РАССРОЧКА 0%</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__item__image"><img src="/images/advantages/file.png"></div>
        <div class="advantages__item__text"><img src="/images/advantages/check.png"><span>ДОГОВОР ДОЛЕВОГО УЧАСТИЯ В СООТВЕТСТВИИ С 214 ФЗ</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__item__image"><img src="/images/advantages/pipe.png"></div>
        <div class="advantages__item__text"><img src="/images/advantages/check.png"><span>ЦЕНТРАЛЬНЫЕ КОММУНИКАЦИИ</span></div>
    </div>
    <div class="advantages__item">
        <div class="advantages__item__image"><img src="/images/advantages/calendar.png"></div>
        <div class="advantages__item__text"><img src="/images/advantages/check.png"><span>ИПОТЕКА РАССРОЧКА 0%</span></div>
    </div>
</section>