<section class="section s-bonus">
    <div class="layout">
        <h2 class="section__title section__title--white">ЧТО БУДЕТ В КВАРТИРЕ</h2>
        
        <div class="s-bonus__grid">
            <div class="s-bonus__item">
                <div class="s-bonus__item__image">
                    <svg class="s-bonus__item__image__src s-bonus__item__image__src--brush" role="image">
                        <use xlink:href="#brush"/>
                    </svg>
                </div>

                <span class="s-bonus__item__title">Предчистовая отделка - стяжка, штукатурка</span>
            </div>

            <div class="s-bonus__item">
                <div class="s-bonus__item__image">
                    <svg class="s-bonus__item__image__src s-bonus__item__image__src--pipe" role="image">
                        <use xlink:href="#pipe"/>
                    </svg>
                </div>

                <p class="s-bonus__item__title">подводы к сантехнике</p>
            </div>

            <div class="s-bonus__item">
                <div class="s-bonus__item__image">
                    <svg class="s-bonus__item__image__src s-bonus__item__image__src--square" role="image">
                        <use xlink:href="#square"/>
                    </svg>
                </div>

                <span class="s-bonus__item__title">металлопластиковые окна</span>
            </div>

            <div class="s-bonus__item">
                <div class="s-bonus__item__image">
                    <svg class="s-bonus__item__image__src s-bonus__item__image__src--door" role="image">
                        <use xlink:href="#door"/>
                    </svg>
                </div>

                <span class="s-bonus__item__title">дверь входная сейфовая</span>
            </div>

            <div class="s-bonus__item">
                <div class="s-bonus__item__image">
                    <svg class="s-bonus__item__image__src s-bonus__item__image__src--socket" role="image">
                        <use xlink:href="#socket"/>
                    </svg>
                </div>

                <span class="s-bonus__item__title">электрическая разводка</span>
            </div>

            <div class="s-bonus__item">
                <div class="s-bonus__item__image">
                    <svg class="s-bonus__item__image__src s-bonus__item__image__src--barrel" role="image">
                        <use xlink:href="#barrel"/>
                    </svg>
                </div>

                <span class="s-bonus__item__title">двухконтурный котел</span>
            </div>

            <div class="s-bonus__item">
                <div class="s-bonus__item__image">
                    <svg class="s-bonus__item__image__src s-bonus__item__image__src--heater" role="image">
                        <use xlink:href="#heater"/>
                    </svg>
                </div>

                <span class="s-bonus__item__title">алюминиевые радиаторы</span>
            </div>

            <div class="s-bonus__item">
                <div class="s-bonus__item__image">
                    <svg class="s-bonus__item__image__src s-bonus__item__image__src--tachometr" role="image">
                        <use xlink:href="#tachometr"/>
                    </svg>
                </div>

                <span class="s-bonus__item__title">приборы учета: газ, свет, вода</span>
            </div>
        </div>
    </div>
</section>