<section class="section s-contacts j-section" id="contacts-anchor">
    <div class="layout">
        <h2 class="section__title">Контакты офиса продаж</h2>

        <div class="s-contacts__restriction">

            <div class="s-contacts__content">
                <div class="s-contacts__address">
                    <span class="s-contacts__address__ico">
                        ПГТ. ЯБЛОНОВСКИЙ, УЛ. ТУРГЕНЕВСКОЕ ШОССЕ 1Г (ЗАЕЗД С УЛ. ДОРОЖНАЯ)
                    </span>
                </div>
                
                <div class="s-contacts__table">
                    <div class="s-contacts__table__col">
                        <div class="s-contacts__table__col__text">
                            <strong>Режим работы:</strong><br>
                            Без выходных, с 9:00 до 19:00 ч.
                        </div>
                    </div>

                    <div class="s-contacts__table__col s-contacts__table__col--center">
                        <div class="s-contacts__table__col__title">Телефон офиса продаж:</div>
                        <div class="s-contacts__table__col__text">
                            <a href="tel:8-861-238-22-20" class="s-contacts__phone">8 (861) 238-22-20</a>
                            <a href="tel:8-928-842-20-20" class="s-contacts__phone">8 (928) 842-20-20 </a>
                            <a href="tel:8-928-842-28-28" class="s-contacts__phone">8 (928) 842-28-28</a>
                        </div>
                    </div>

                    <div class="s-contacts__table__col">
                        <div class="s-contacts__table__col__text">
                            E-mail: <a href="mailto:ekostroi-yu@mail.ru" class="s-contacts__email">ekostroi-yu@mail.ru</a>
                        </div>
                    </div>
                </div>

                <div class="s-contacts__socials">
                    <a href="" class="s-contacts__socials__item">
                        <img src="/images/ico/youtube.svg" class="s-contacts__socials__item__ico youtube" alt="">
                    </a>

                    <a href="" class="s-contacts__socials__item">
                        <img src="/images/ico/twitter.svg" class="s-contacts__socials__item__ico twitter" alt="">
                    </a>

                    <a href="" class="s-contacts__socials__item">
                        <img src="/images/ico/facebook.svg" class="s-contacts__socials__item__ico facebook" alt="">
                    </a>

                    <a href="" class="s-contacts__socials__item">
                        <img src="/images/ico/instagram.svg" class="s-contacts__socials__item__ico instagram" alt="">
                    </a>
                </div>
            </div>

            <hr class="separator separator--push">
    
            <div class="s-contacts__center">
                <span class="s-contacts__label">Остались вопросы?</span>
                <a href="" class="button">Напишите нам</a>
            </div>
        </div>
    </div>

    <div class="s-contacts__map">
        <div class="s-contacts__map__layout" id="location-map"></div>
    </div>

</section>