<section class="section s-documents j-section" id="documentation-anchor">
    <div class="layout">
        <h2 class="section__title">Документация</h2>

        <ul class="s-documents__list">
            <li class="s-documents__list__item">
                <a href="/images/documents/1.jpg" class="s-documents__list__item__link zoom" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img src="/images/documents/1.jpg" alt="">

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">РАЗРЕШЕНИЕ НА СТРОИТЕЛЬСТВО</span>
                </a>
            </li>

            <li class="s-documents__list__item">
                <a href="/images/documents/1.jpg" class="s-documents__list__item__link zoom" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img src="/images/documents/1.jpg" alt="">

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">ДЕКЛАРАЦИЯ</span>
                </a>
            </li>
            <li class="s-documents__list__item">
                <a href="/images/documents/1.jpg" class="s-documents__list__item__link zoom" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img src="/images/documents/1.jpg" alt="">

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">РАЗРЕШЕНИЕ НА СТРОИТЕЛЬСТВО</span>
                </a>
            </li>

            <li class="s-documents__list__item">
                <a href="/images/documents/1.jpg" class="s-documents__list__item__link zoom" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img src="/images/documents/1.jpg" alt="">

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">ДЕКЛАРАЦИЯ</span>
                </a>
            </li>
            <li class="s-documents__list__item">
                <a href="/images/documents/1.jpg" class="s-documents__list__item__link zoom" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img src="/images/documents/1.jpg" alt="">

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">РАЗРЕШЕНИЕ НА СТРОИТЕЛЬСТВО</span>
                </a>
            </li>

            <li class="s-documents__list__item">
                <a href="/images/documents/1.jpg" class="s-documents__list__item__link zoom" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img src="/images/documents/1.jpg" alt="">

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">ДЕКЛАРАЦИЯ</span>
                </a>
            </li>
        </ul>
    </div>
</section>