<section class="section s-documents j-section" id="documentation-anchor" data-title="Документация - ЖК Европейский">
    <div class="layout">
        <h2 class="section__title">Документация</h2>

        <ul class="s-documents__list j-documents" id="documents">
            <li class="s-documents__list__item">
                <a href="/images/documents/001.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/001-s.jpg" alt="">
                        <noscript><img src="/images/documents/001-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">Свидетельство</span>
                </a>
            </li>

            <li class="s-documents__list__item">
                <a href="/images/documents/002.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/002-s.jpg" alt="">
                        <noscript><img src="/images/documents/002-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">Приложение к свидетельству</span>
                </a>
            </li>
            <li class="s-documents__list__item">
                <a href="/images/documents/003.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/003-s.jpg" alt="">
                        <noscript><img src="/images/documents/003-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">Приложение к свидетельству</span>
                </a>
            </li>

            <li class="s-documents__list__item">
                <a href="/images/documents/004.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/004-s.jpg" alt="">
                        <noscript><img src="/images/documents/004-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">Приложение к свидетельству</span>
                </a>
            </li>

            <li class="s-documents__list__item">
                <a href="/images/documents/005.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/005-s.jpg" alt="">
                        <noscript><img src="/images/documents/005-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">Св-во на право собственности земли</span>
                </a>
            </li>

            <li class="s-documents__list__item">
                <a href="/images/documents/006.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/006-s.jpg" alt="">
                        <noscript><img src="/images/documents/006-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">Разрешение на строительство</span>
                </a>
            </li>

            <li class="s-documents__list__item">
                <a href="/images/documents/007.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/007-s.jpg" alt="">
                        <noscript><img src="/images/documents/007-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">Разрешение на строительство</span>
                </a>
            </li>
            
            <!-- Учр. документы -->

            <li class="s-documents__list__header is-motion is-hidden">
                <div class="s-documents__list__header__title">
                    Учредительные документы
                </div>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/20.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/20-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/20-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">1 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/19.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/19-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/19-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">2 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/18.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/18-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/18-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">3 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/17.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/17-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/17-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">4 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/16.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/16-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/16-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">5 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/15.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/15-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/15-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">6 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/14.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/14-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/14-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">7 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/13.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/13-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/13-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">8 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/12.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/12-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/12-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">9 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/11.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/11-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/11-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">10 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/10.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/10-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/10-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">11 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/9.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/9-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/9-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">12 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/8.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/8-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/8-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">13 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/7.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/7-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/7-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">14 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/6.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/6-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/6-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">15 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/5.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/5-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/5-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">16 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/4.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/4-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/4-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">17 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/3.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/3-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/3-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">18 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/2.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/2-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/2-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">19 лист</span>
                </a>
            </li>

            <li class="s-documents__list__item is-motion is-hidden">
                <a href="/images/documents/ustav/1.jpg" class="s-documents__list__item__link zoom" data-fancybox="gallery" target="_blank">
                    <span class="s-documents__list__item__image">
                        <img class="lazy" data-src="/images/documents/ustav/1-s.jpg" alt="">
                        <noscript><img src="/images/documents/ustav/1-s.jpg" alt=""></noscript>

                        <svg class="s-documents__list__item__checked" role="image">
                            <use xlink:href="#checked"/>
                        </svg>
                    </span>

                    <span class="s-documents__list__item__title">20 лист</span>
                </a>
            </li>
        </ul>

        <div class="page-button">
            <div class="page-button__center">
                <a href="/documents.zip" class="button-link" download>Скачать докуметы</a>
            </div>
        </div>

        <div class="page-button _down">
            <span class="button j-load-documents" data-motion="show">
                <span class="button__text--up">СКРЫТЬ ДОКУМЕНТЫ</span>
                <span class="button__text--down">ЕЩЕ ДОКУМЕНТЫ</span>
            </span>
        </div>
    </div>
</section>