<section class="section s-documents">
    <h2 class="section__title">Документация</h2>

    <ul class="s-documents__list">
        <li class="s-documents__list__item">
            <a href="" class="s-documents__list__item__link">
                <span class="s-documents__list__item__image">
                    <img src="/images/documents/1.jpg" alt="">
                </span>

                <span class="s-documents__list__item__title">РАЗРЕШЕНИЕ НА СТРОИТЕЛЬСТВО</span>
            </a>
        </li>

        <li class="s-documents__list__item">
            <a href="" class="s-documents__list__item__link">
                <span class="s-documents__list__item__image">
                    <img src="/images/documents/1.jpg" alt="">
                </span>

                <span class="s-documents__list__item__title">ДЕКЛАРАЦИЯ</span>
            </a>
        </li>
        <li class="s-documents__list__item">
            <a href="" class="s-documents__list__item__link">
                <span class="s-documents__list__item__image">
                    <img src="/images/documents/1.jpg" alt="">
                </span>

                <span class="s-documents__list__item__title">РАЗРЕШЕНИЕ НА СТРОИТЕЛЬСТВО</span>
            </a>
        </li>

        <li class="s-documents__list__item">
            <a href="" class="s-documents__list__item__link">
                <span class="s-documents__list__item__image">
                    <img src="/images/documents/1.jpg" alt="">
                </span>

                <span class="s-documents__list__item__title">ДЕКЛАРАЦИЯ</span>
            </a>
        </li>
        <li class="s-documents__list__item">
            <a href="" class="s-documents__list__item__link">
                <span class="s-documents__list__item__image">
                    <img src="/images/documents/1.jpg" alt="">
                </span>

                <span class="s-documents__list__item__title">РАЗРЕШЕНИЕ НА СТРОИТЕЛЬСТВО</span>
            </a>
        </li>

        <li class="s-documents__list__item">
            <a href="" class="s-documents__list__item__link">
                <span class="s-documents__list__item__image">
                    <img src="/images/documents/1.jpg" alt="">
                </span>

                <span class="s-documents__list__item__title">ДЕКЛАРАЦИЯ</span>
            </a>
        </li>
    </ul>

</section>