<section class="section s-infrastructure">
    <div class="layout">
        <h3 class="section__name">В ШАГОВОЙ ДОСТУПНОСТИ РАСПОЛОЖЕНЫ</h3>

        <div class="s-infrastructure__items">
            <div class="s-infrastructure__items__item">
                <div class="s-infrastructure__items__item__image">
                    <svg class="s-infrastructure__items__item__image__src s-infrastructure__items__item__image__src--hospital" role="image">
                        <use xlink:href="#hospital"/>
                    </svg>
                </div>
                <div class="s-infrastructure__items__item__title">ПОЛИКЛИНИКА</div>
            </div>

            <div class="s-infrastructure__items__item">
                <div class="s-infrastructure__items__item__image">
                    <svg class="s-infrastructure__items__item__image__src s-infrastructure__items__item__image__src--bear" role="image">
                        <use xlink:href="#bear"/>
                    </svg>
                </div>

                <div class="s-infrastructure__items__item__title">ДЕТСКИЙ САД</div>
            </div>

            <div class="s-infrastructure__items__item">
                <div class="s-infrastructure__items__item__image">
                    <svg class="s-infrastructure__items__item__image__src s-infrastructure__items__item__image__src--book" role="image">
                        <use xlink:href="#book"/>
                    </svg>
                </div>

                <div class="s-infrastructure__items__item__title">ШКОЛА</div>
            </div>

            <div class="s-infrastructure__items__item">
                <div class="s-infrastructure__items__item__image">
                    <svg class="s-infrastructure__items__item__image__src s-infrastructure__items__item__image__src--pharm" role="image">
                        <use xlink:href="#pharm"/>
                    </svg>
                </div>

                <div class="s-infrastructure__items__item__title">АПТЕКА</div>
            </div>

            <div class="s-infrastructure__items__item">
                <div class="s-infrastructure__items__item__image">
                    <svg class="s-infrastructure__items__item__image__src s-infrastructure__items__item__image__src--cart" role="image">
                        <use xlink:href="#cart"/>
                    </svg>
                </div>

                <div class="s-infrastructure__items__item__title">МАГАЗИНЫ</div>
            </div>

            <div class="s-infrastructure__items__item">
                <div class="s-infrastructure__items__item__image">
                    <svg class="s-infrastructure__items__item__image__src s-infrastructure__items__item__image__src--cup" role="image">
                        <use xlink:href="#cup"/>
                    </svg>
                </div>

                <div class="s-infrastructure__items__item__title">РЕСТОРАНЫ, КАФЕ</div>
            </div>
        </div>
    </div>
</section>