<section class="section location">
    <h2 class="section__title">В ШАГОВОЙ ДОСТУПНОСТИ РАСПОЛОЖЕНЫ</h2>
    <div class="location__items">
        <div class="location__items__item"><div class="location__items__item__img"><img src="/images/location/hospital.png"></div><span>ПОЛИКЛИНИКА</span></div>
        <div class="location__items__item"><div class="location__items__item__img"><img src="/images/location/bear.png"></div><span>ДЕТСКИЙ САД</span></div>
        <div class="location__items__item"><div class="location__items__item__img"><img src="/images/location/book.png"></div><span>ШКОЛА</span></div>
        <div class="location__items__item"><div class="location__items__item__img"><img src="/images/location/pharm.png"></div><span>АПТЕКА</span></div>
        <div class="location__items__item"><div class="location__items__item__img"><img src="/images/location/cart.png"></div><span>МАГАЗИНЫ</span></div>
        <div class="location__items__item"><div class="location__items__item__img"><img src="/images/location/cup.png"></div><span>РЕСТОРАНЫ, КАФЕ</span></div>
    </div>
</section>