<section class="section s-payment">
    <h2 class="section__title">Способы оплаты</h2>

    Приобрести жилье можно несколькими способами

    <nav class="nav-tabs">
        <a href="" class="nav-tabs__link">Наличные</a>
        <a href="" class="nav-tabs__link">Рассрочка</a>
        <a href="" class="nav-tabs__link nav-tabs__link--current">Ипотека</a>
        <a href="" class="nav-tabs__link">Материнский капитал</a>
        <a href="" class="nav-tabs__link">Для иногородних</a>
    </nav>

    <div class="tabs-content">
        Потребительские кредиты в Краснодаре. Полная информация о кредитах в Краснодаре - сравнить условия, процентные ставки, оформить онлайн заявку.

        Получите подробную консультацию у нашего специалиста
    </div>
</section>