<section class="section s-plans j-tabs">
    <div class="layout">
        <h2 class="section__title">ПЛАНИРОВКИ КВАРТИР В ЖК “ЕВРОПЕЙСКИЙ”</h2>
        
        <div class="s-plans__tabs">
            <a href="#floor-2" data-target="floor-2" class="s-plans__tabs__item j-tabs-trigger is-current">2 этаж</a>
            <a href="#floor-3" data-target="floor-3" class="s-plans__tabs__item j-tabs-trigger">3 этаж</a>
            <a href="#floor-4" data-target="floor-4" class="s-plans__tabs__item j-tabs-trigger">4 этаж</a>
            <a href="#floor-5" data-target="floor-5" class="s-plans__tabs__item j-tabs-trigger">5 этаж</a>
            <a href="#floor-6" data-target="floor-6" class="s-plans__tabs__item j-tabs-trigger">6 этаж</a>
            <a href="#floor-7" data-target="floor-7" class="s-plans__tabs__item j-tabs-trigger">7 этаж</a>
            <a href="#floor-8" data-target="floor-8" class="s-plans__tabs__item j-tabs-trigger">8 этаж</a>
        </div>

        <div class="s-plans__carousel">
            <div class="s-plans__carousel__item j-tabs-content is-active" data-system="floor-2">
                <img src="/images/demo-plan.jpg" alt="">
            </div>

            <div class="s-plans__carousel__item j-tabs-content" data-system="floor-3">
                <img src="/images/demo-plan.jpg" alt="">
            </div>

            <div class="s-plans__carousel__item j-tabs-content" data-system="floor-4">
                <img src="/images/demo-plan.jpg" alt="">
            </div>

            <div class="s-plans__carousel__item j-tabs-content" data-system="floor-5">
                <img src="/images/demo-plan.jpg" alt="">
            </div>

            <div class="s-plans__carousel__item j-tabs-content" data-system="floor-6">
                <img src="/images/demo-plan.jpg" alt="">
            </div>

            <div class="s-plans__carousel__item j-tabs-content" data-system="floor-7">
                <img src="/images/demo-plan.jpg" alt="">
            </div>

            <div class="s-plans__carousel__item j-tabs-content" data-system="floor-8">
                <img src="/images/demo-plan.jpg" alt="">
            </div>
        </div>

    </div>

    <form method="post" action="/ajax/sendmail" class="request-form request-form--wide">
        <div class="request-form__title">Уточните стоимость квартиры в отделе продаж</div>

        <div class="request-form__content">
            <input type="text" name="phone" class="f-input" placeholder="Ваш телефон">
            <button type="submit" class="button">ЗАКАЗАТЬ ЗВОНОК</button>
        </div>
    </form>
</section>
