<section class="section s-timeline" data-title='Ход строительства - ЖК Европейский'>
    <h2 class="section__title">Ход строительства</h2>

    <!-- .carousel__item.slick-slide>a.carousel__item__image.zoom[onclick="return false" href="/images/timeline/$.jpg"]>img.carousel__item__image__src[src="/images/timeline/$-s.jpg"] -->

    <div class="timeline__carousel carousel j-timeline" id="timeline-list">
        <div class="carousel__outer">
            <div class="carousel__wrapper j-timeline-slider" id="timeline-carousel">
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/1.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/1-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/2.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/2-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/3.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/3-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/4.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/4-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/5.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/5-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/6.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/6-s.jpg" alt="" class="carousel__item__image__src"></a></div>
            </div>

            <div class="carousel__cache" id="timeline-cache">
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/1.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/1-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/2.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/2-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/3.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/3-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/4.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/4-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/5.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/5-s.jpg" alt="" class="carousel__item__image__src"></a></div>
                <div class="carousel__item slick-slide is-year-2017 is-month-6"><a href="/images/timeline/6.jpg" onclick="return false" class="carousel__item__image zoom"><img src="/images/timeline/6-s.jpg" alt="" class="carousel__item__image__src"></a></div>
            </div>
        </div>
    </div>

    <!--
    <div class="s-timeline__filter is-active" id="s-timeline-filter">
        <div class="s-timeline__filter__years j-timeline-years">
            <a href="#" onclick="return false" class="s-timeline__filter__years__tab j-timeline-years-item is-current" data-value="2017">2017</a>
        </div>

        <div class="s-timeline__filter__months j-timeline-months">
            <a href="" data-if="2017" data-value="12" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Декабрь</a> 
            <a href="" data-if="2017" data-value="11" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Ноябрь</a>
            <a href="" data-if="2017" data-value="10" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Октябрь</a>
            <a href="" data-if="2017" data-value="9" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Сентябрь</a>
            <a href="" data-if="2017" data-value="8" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Август</a>
            <a href="" data-if="2017" data-value="7" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Июль</a>
            <a href="" data-if="2017" data-value="6" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Июнь</a>
            <a href="" data-if="2017" data-value="5" class="s-timeline__filter__months__tab j-timeline-months-item is-active is-current">Май</a>
            <a href="" data-if="2017" data-value="4" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Апрель</a>
            <a href="" data-if="2017" data-value="3" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Март</a>
            <a href="" data-if="2017" data-value="2" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Февраль</a>
            <a href="" data-if="2017" data-value="1" class="s-timeline__filter__months__tab j-timeline-months-item is-active">Январь</a>
        </div>
    </div>
    -->
</section>