.s-advantages {
    padding-top: 40px !important;

    &__text {
        text-align: left;
        font-size: 2rem;
        line-height: 1.25;
        padding: 10px 20px;
        margin-bottom: 15px;
        border-radius: 13px;
        background-color: rgba(#f4f4eb, 0.33);
        border: 1px solid rgba(#e2e2d5, 0.33);
        
        strong {
            color: #5b8f0c;
        }
    }

    &__smtxt {
        padding: 0 20px;
        font-size: 1.8rem;
        text-align: left;
        margin-bottom: 30px;
    }

    &__group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;

        &:not(:last-child) {
            margin-bottom: 35px;
        }
    }

    &__item {
        width: 33.3333333333%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;

        padding: 0 30px;

        &__image {
            width: 70px;
            height: 70px;
            overflow: hidden;
            position: relative;
            border-radius: 50%;
            background-color: #84c225;
            margin-bottom: 35px;

            img {
                position: absolute;
            }
        }

        &__title {
            width: 100%;
            display: block;
            font-size: 1.6rem;
            font-weight: 700;
            text-align: center;

            &__ico {
                text-align: left;
                padding-left: 28px;
                display: inline-block;
                background: url(/images/advantages/check.png) 0 0 no-repeat;    
            }
        }
    }
}