.bonus {
    background-image: url(/images/bonus/bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    color: $c-bonus;
    justify-content: center;
    padding: 30px 160px;
    flex-wrap: wrap;
    &__head {
        text-align: center;
        width: 100%;
        //font-size: 3rem;  
        padding: 40px;          
    }

    &__items {
       
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        
        padding: 20px;
        width: 25%;
        
        &__img {
            width: 70px;
            height: 70px; 
            margin-bottom: 20px;     
        }

        &__text {
            text-align: center;
            text-transform: uppercase;  
            font-size: 1.3rem;
            line-height: 1.13;
        }

    }

}