.footer {
    display: flex;
    height: 83px;
    justify-content: center;
    align-items: center;
    &__copyright {
        display: flex;
        font-size: 1.6rem;
        line-height: 3;
        color: $c-footer;
    }
    
}