.location {
    background-color: $bg-location;
    &__items {
        display: flex;
        justify-content: center;
        &__item {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
            width: 10%;
            &__img {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 10px;
            }

            span {
                color: $c-location;
                font-size: 1.3rem;
                text-align: center;
            }

        }

    }

}