.s-location {
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    padding-bottom: 0 !important;
    background: #f0ede5 url(/images/location-background.jpg) 100% 100% no-repeat;

    @media (max-width: 480px) {
        display: none;
    }

    &__layout {
        width: 1360px;
        margin: 0 auto;
        position: relative;
    }

    &__image {
        margin-bottom: 60px;
    }
}