.s-payment {
    background-color: #f4f2ed;
    background-image: url(/images/question.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 235px) 20px;
    background-size: 168px 168px;
}