.section {
    clear: both;
    padding: 70px 0;

    &__title {
        color: #2d2d2d;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.33;
        text-align: center;
        margin-bottom: 40px;
        padding-bottom: 25px;
        text-transform: uppercase;
        background: url(/images/section-arrow.svg) 50% 100% no-repeat;
        background-size: 184px 10px;

        &--white {
            color: #fff;
        }
    }

    &__name {
        color: #2d2d2d;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        text-align: center;
        margin-bottom: 45px;
    }

    &__sub-title {
        color: #2d2d2d;
        font-size: 1.8rem;
        line-height: 1;
        text-align: center;
        margin-top: -20px;
        margin-bottom: 35px;
    }
}