.s-timeline {
    background-color: #c1dd9e;
    background-image: url(/images/timeline-leaf.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
    
    @media (max-width: 480px) {
        display: none;
    }

    &__carousel {
        clear: both;
        overflow: hidden;
        min-height: 166px;

        &.is-centered .slick-list {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: row;
            justify-content: center;
            border: 1px solid red !important;
        }

        &.is-centered .slick-track {
            display: flex;
            flex-wrap: nowrap;
            align-items: flex-start;
            flex-direction: row;
            justify-content: center;
            border: 1px solid lime !important;
        }
    }
}

.b-filter {
    clear: both;
    display: none;
    margin-top: 25px;

    &.is-active {
        display: block;
    }

    &__years,
    &__months {
        clear: both;
        font-size: 0;
        text-align: center;
    }

    &__years {
        clear: both;
        margin-bottom: 20px;

        &__tab {
            color: #6b6b6b;
            height: 38px;
            margin: 0 5px;
            cursor: pointer;
            padding: 0 30px;
            user-select: none;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 38px;
            border-radius: 5px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            background-color: #f3f3f3;
            transition: background-color .3s ease-in-out, color .3s ease-in-out;

            &.is-current {
                color: #fff;
                text-decoration: none;
                background-color: #84c225;
            }
        }
    }

    &__months {
        display: none;
        
        &.is-active {
            display: block;
        }

        &__tab {
            display: none;
            cursor: pointer;
            color: #494848;
            margin: 0 8px;
            font-size: 1.4rem;
            line-height: 1;
            font-weight: 700;
            user-select: none;
            vertical-align: middle;
            text-transform: uppercase;
            transition: color $a-time;

            &:hover {
                color: #4f8200;
            }

            &.is-active {
                display: inline-block;
            }

            &.is-current {
                color: #4f8200;
                text-decoration: none;
            }
        }
    }
}