<div class="layout-header__similar"></div>

<header class="layout-header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">

	<a href="#action" class="action-sticker j-navigation">
	    <span class="action-sticker__text">АКЦИЯ!</span>
	</a>

	<div class="layout-header__container">
		<div class="layout-header__wrapper layout">

			<a href="#main" class="layout-header__logo logo j-navigation" rel="home" itemprop="url" accesskey="1" data-instant>
				<span itemprop="name">ЭкоСтрой-Юг, ООО, строительная компания</span>
			</a>

			@@include('./_navigation.html', {
				"current": "@@current"
			})
		
			<a href="tel:8-800-200-38-58" class="layout-header__phone phone">
				8 800 200 38 58
			</a>

		</div>
	</div>
</header>