<nav class="navigation" role="navigation">
    <div class="navigation__wrapper">
        <ul class="navigation__list">
            
            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link">
                    <span class="navigation__link__name" itemprop="name">О комплексе</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link">
                    <span class="navigation__link__name" itemprop="name">Расположение</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link">
                    <span class="navigation__link__name" itemprop="name">Способы оплаты</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link">
                    <span class="navigation__link__name" itemprop="name">Документация</span>
                </a>
            </li>

            <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
                <a href="#" itemprop="url" class="navigation__link">
                    <span class="navigation__link__name" itemprop="name">Контакты</span>
                </a>
            </li>

        </ul>
    </div>
</nav>