<nav class="navigation" role="navigation">
    <ul class="navigation__list">
        
        <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="#about" itemprop="url" class="navigation__link is-current">
                <span class="navigation__link__name" itemprop="name">О КОМПЛЕКСЕ</span>
            </a>
        </li>

        <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="#location" itemprop="url" class="navigation__link">
                <span class="navigation__link__name" itemprop="name">РАСПОЛОЖЕНИЕ</span>
            </a>
        </li>

        <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="#payment" itemprop="url" class="navigation__link">
                <span class="navigation__link__name" itemprop="name">СПОСОБЫ ОПЛАТЫ</span>
            </a>
        </li>

        <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="#documentation" itemprop="url" class="navigation__link">
                <span class="navigation__link__name" itemprop="name">ДОКУМЕНТАЦИЯ</span>
            </a>
        </li>

        <li class="navigation__item" itemscope="itemscope" itemtype="http://www.schema.org/SiteNavigationElement">
            <a href="#contacts" itemprop="url" class="navigation__link">
                <span class="navigation__link__name" itemprop="name">КОНТАКТЫ</span>
            </a>
        </li>

    </ul>
</nav>