.button {
    height: 54px;
    padding: 0 25px;
    
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;

    @extend %button;

    border: 0;
    border-radius: 6px;
    background-color: #84c225;
    text-shadow: 1px 1px 0 #60910b;
    box-shadow: 2px 2px 0 0 #588d07;

    &:visited {
        color: #fff;
    }

    &_submit {
        display: inline-block;
        vertical-align: middle;
    }

    &:hover, &:focus {
        color: #fff;
        background-color: darken(#84c225, 10%);
    }

    &.disabled {
        background: #ccc !important;
        cursor: not-allowed !important;
        background: #ccc !important;

        &, &:hover {
            -webkit-box-shadow: none !important;
            box-shadow:none !important;
            background: #ccc !important;
        }
    }
}