.carousel {
    font-size: 0;
    position: relative;

    &__cache {
        display: none;
    }

    &__wrapper {
        padding: 0 40px;
        overflow: hidden;
    }

    .slick-list {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
    }

    &__outer {
        overflow: hidden;
    }

    &__nav {
        position: absolute;
        top: 50%;
        color: #fff;
        cursor: pointer;
        border: 0;
        padding: 0;
        outline: none;
        background: none;
        margin-top: -21px;
        z-index: 1000;
        transition: color $a-time;
    
        &:hover {
            color: #ffe400;
        }

        &__ico {
            width: 23px;
            height: 42px;
        }

        &--left {
            left: 30px;
        }

        &--right {
            right: 30px;
        }
    }

    &__item {
        float: left;
        outline: none;
        padding: 0 10px;

        &.is-hidden {
            display: none !important;
        }

        &__image {
            padding: 3px;
            display: block;
            outline: none;
            background-color: #fff;

            &__src {
                width: 100%;
                object-fit: cover;
                display: inline-block;
                vertical-align: middle;
                object-position: 50% 50%;
            }
        }
    }
}

.lazy-hidden {
    border: 1px solid red;
    background: url(/images/preloader.gif) no-repeat 50% 50%;
    background-size: 32px -32px;
}

@media only screen and (max-width: 768px) {
    .carousel {
        &__item {
            &__image {
                &__src {
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 568px) {
    .carousel {
        &__item {
            &__image {
                padding: 6px;
            }
        }
    }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 375px) {
    .carousel {
        &__item {
            &__image {
                &__src {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min-device-pixel-ratio:1.5) {
    .carousel {
        &__navigation {
            &._prev {
                background-image: url(/images/left-arrow-button@2x.png);
            }

            &._next {
                background-image: url(/images/right-arrow-button@2x.png);
            }
        }
    }
}
