.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    z-index: 10;

    &__link {
        color: #2d2d2d;
        height: 50px;
        margin: 0 4px;
        padding: 0 35px;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 50px;
        text-decoration: none;
        display: block;
        transition: background-color $a-time, color $a-time;

        &.is-current {
            color: $c-white;
            background-color: #84c225;
            border-radius: 4px 4px 0 0;
        }
    }
}