.request-form {
    padding: 15px 20px 25px;
    border-radius: 6px;
    background-color: rgba(#63ab0d, 0.2);
    border: 1px solid rgba(#588d07, 0.2);

    &--nobg {
        border: 0;
        border-radius: 0;
        background: none;
        padding: 35px 25px 25px;
    }

    &--wide {
        border: 0;
        border-radius: 0;
    }

    &__title {
        color: #030303;
        font-size: 2rem;
        line-height: 1;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 17px;
        }
    }

    &__content {
        width: 100%;
        margin: 0 auto;
        max-width: 580px;
        @extend %space-between;

        .f-input {
            margin-right: 10px;
        }
    }
}