.section {
    padding: 20px;
    margin-bottom: 20px;

    @media (max-width: 1000px) {
        border: 2px solid red;
        background-color: lime;
    }

    &__header {
        &__phone {}
        &__navigation {}
    }
}