.tabs-content {
    clear: both;
    border-radius: 6px;
    padding: 50px 20px 20px;
    background-color: $c-white;
    border: 1px solid #dcdcdc;

    @media (max-width: 480px) {
        border: 0;
        padding: 0;
        border-radius: 0;
        background-color: transparent;
    }

    &__block {
        color: #2d2d2d;
        display: none;
        padding: 0 40px;
        font-size: 1.8rem;
        line-height: 1.33;

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        &.is-active {
            display: block;
        }

        @media (max-width: 480px) {
            padding: 15px;
            font-size: 1.5rem;
            line-height: 1.5;
            margin-top: -10px;
            margin-bottom: 10px;
            background-color: $c-white;
            border: 1px solid #dcdcdc;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}