.tabs-content {
    width: 950px;
    margin: 0 auto;
    padding: 50px 65px;
    border-radius: 6px;
    background-color: #ffffff;
    border: solid 1px #a7a7a7;
    
    color: #2d2d2d;
    font-family: Roboto;
    font-size: 1.8rem;
    line-height: 1.33;
}