.timer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;

    &__icon {
        width: 40px;
        height: 44px;
        color: #84c225;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    &__parts {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        &__column {
            position: relative;

            &:not(:last-child) {
                margin-right: 20px;
                padding-right: 20px;

                &:after {
                    content: ":";
                    position: absolute;
                    left: 100%;
                    top: 0;
                    color: #2d2d2d;
                    font-size: 5rem;
                    font-weight: 300;
                    line-height: 0.5;
                    letter-spacing: 0;
                    margin-left: -5px;
                }
            }
        }

        &__digit {
            color: #2d2d2d;
            font-size: 5rem;
            font-weight: 300;
            line-height: 0.8;
            margin-bottom: 10px;
        }

        &__caption {
            color: #2d2d2d;
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            text-transform: uppercase;
        }
    }
}