.layout-footer {
    clear: both;
    position: relative;
    height: $footer-height;
    margin-top: -$footer-height;

    &__wrapper {
        @extend %layout;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__copyright {
        color: $c-footer;
        font-size: 1.6rem;
        padding: 0 20px;
        text-align: center;

        &__text {
            line-height: 1.5;
            display: inline-block;
            vertical-align: middle;
        }

        &__br {
            @media (max-width: 480px) {
                display: block;
            }
        }
    }
}
