.layout-footer {
    clear: both;
    position: relative;
    height: $footer-height;
    margin-top: -$footer-height;

    &__wrapper {
        @extend %layout;
    }

    &__copiright {
        color: $c-footer-color;
    }

    &__navigation {
        &__list {}
        &__item {
            &__link {}
        }
    }
}
