.layout-header {
    clear: both;
    height: $header-height;
    background-color: $c-white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &__similar {
        height: $header-height;
    }

    &:after {
        content: "";
        height: 25px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background: url(../images/navigation-arc.png) 50% 100% no-repeat;
    }

    &__wrapper {
        @extend %space-between;
    }
}
