@@include('./components/_meta.html', {
    "title": "ЖК Европейский - Квартиры в Яблоновском от застройщика, квартиры в Адыгее",
    "bodyclass": ""
})

@@include('./components/_svgstore.html')
@@include('./popup/_template.html')

<div class="layout-wrapper">

    <a href="#action-section" class="action-sticker j-navigation">
        <span class="action-sticker__text">АКЦИЯ!</span>
    </a>

    @@include('./components/_header.html', {
        "current": "index"
    })

    <div class="layout-wrapper__pusher">

        <!-- Слайдер -->
        @@include('./section/_slider.html')

        <!-- Преимущества -->
        @@include('./section/_advantages.html')

        <!-- Расположение -->
        @@include('./section/_location.html')

        <!-- Инфраструктура -->
        @@include('./section/_infrastructure.html')
    
        <!-- Планировки -->
        @@include('./section/_plans.html')
    
        <!-- Что будет в квартире -->
        @@include('./section/_bonus.html')
    
        <!-- Акции -->
        @@include('./section/_actions.html')

        <!-- Способы оплаты -->
        @@include('./section/_payment.html')
    
        <!-- Ход строительства -->
        @@include('./section/_timeline.html')

        <!-- Документация -->
        @@include('./section/_documentation.html')

        <hr class="separator separator--pure">

        <!-- Контакты -->
        @@include('./section/_contacts.html')

    </div>

</div>

<!-- Футер -->
@@include('./components/_footer.html')

<!-- Скрипты -->
@@include('./components/_scripts.html')
